<div class="row justify-content-center">
    <div class="col-md-8">
        <div id="chat-row" class="row justify-content-center">

            <div id="user-list-col" class="col-md-4">
                <div class="row justify-content-center">
                    <div id="direct" class="col-md-3"><span>Direct</span></div>
                    <div id="user-list" class="col-md-12">


                        <div class="item-list" *ngFor="let user of friends" (click)="getMessages(user._id)">
                            <p>{{user.name}}</p>
                        </div>


                    </div>
                </div>
            </div>
        
            <div id="message-box-col" class="col-md-8">
                <div class="message-box-container">
                    <div class="message-box">
                        <div *ngFor="let a of myMessages">
                            <label>{{a.text + ' '}}</label><br>
                        </div>
                    </div>
                    <input type="text" placeholder="Envia un mensaje..." class="form-control" (change)="myMessage()" [(ngModel)]="userChat.text">
                </div>
            </div>

        </div>
    </div>
</div>




