<!-- <div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">{{title}}</h1>
        <p class="lead">Disfruta de las publicaciones de tus amigos y comparte las tuyas! :)</p>
    </div>
</div> -->
<div class="row justify-content-center">
    <div class="loading-gif d-flex justify-content-center">
        <img src="https://media.giphy.com/media/s69IuUIxYf4zkHpu4I/giphy.gif"/>
    </div>
</div>

<div class="row justify-content-center">
    <div class="loading-bar">
        <img src="../../../assets/gif/loading.gif" />
    </div>
</div>

