
<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#">NGSocial</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <!--BARRA DE NAVEGACION CUANDO EXISTA UN USUARIO IDENTIFICADO-->
    <ul class="navbar-nav" *ngIf="identity">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['active']">
          Inicio
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Timeline</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Gente</a>
      </li>
    </ul>

    <!--BARRA DE NAVEGACION CUANDO NO EXISTA UN USUARIO IDENTIFICADO-->
    <ul class="nav navbar-nav ml-auto" *ngIf="!identity">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/login']" [routerLinkActive]="['active']">
          Login
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/registro']" [routerLinkActive]="['active']">
          Registro
        </a>
      </li>
    </ul>

    <!--MENÚ DE USUARIO IDENTIFICADO-->
    <ul class="nav navbar-nav ml-auto" *ngIf="identity">
      <li class="avatar">
        <!--cargar la imagen del usuario-->
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">
          {{identity.name}} <span class="caret"></span>
        </a>

        <ul class="dropdown-menu">
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-user"></span>
              Mi perfil
              </a>
            </li>
            <li>
              <a href="#">
              Mis datos
              </a>
            </li>
            <li>
              <a href="#">
              Cerrar sesión
              </a>
            </li>
        </ul>
      </li>
    </ul>
    

  </div>
</nav>
 
<router-outlet></router-outlet>