<div id="profile-publications" class="row"> 
    <div *ngFor="let publication of publications" class="item-profile-publication col-md-4 d-md-flex mt-4 mb-3">
       
        <div class="publication-profile-image-card">
            <img src="{{ url + 'get-image-pub/' + publication.file}}" class="card-img-top" data-toggle="modal" data-target="#exampleModal" (click)="openModal(publication._id, publication.file, publication.user.image, publication.user.nick, publication.text, publication.user._id)"/>
        </div>
                
    <!--fin bucle for-->
    </div>

    
</div>

<div class="row align-items-center justify-content-center">
    <div class="col-md-2" *ngIf="publications && publications.length">
        <button class="btn btn-success" (click)="viewMore()" *ngIf="!noMore">
            Ver mas
        </button>
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body">

                <div *ngFor="let item of modalData">

                    <div class="row">
                        <!--imagen principal de la publicacion-->
                        <div class="col-md-9">
                            <div class="modal-img">
                                <img class="img-fluid" src="{{ url + 'get-image-pub/' + item.file}}" />
                            </div>
                        </div>
                        <!--informacion lateral de la publicacion-->
                        <div class="col-md-3">
                            <div id="image-nick-row" class="row justify-content-start">
                                <div class="image-user col-md-1">
                                    <a href="#">
                                        <img class="rounded-circle" src="{{ url + 'get-image-user/' + item.userImage}}" />
                                    </a>
                                </div>
                                <div class="publication-user-name col-md-3">
                                    <b><a [routerLink]="['/perfil',item.userId]"  class="card-link">{{item.nick}}</a></b>
                                </div>
                            </div>

                            <div id="text-comments-row" class="row">
                                <div clas="col">
                                    <p><span><b>{{item.nick}}</b></span>&nbsp;{{item.text}} </p>
                                </div>
                            </div>
                        </div>  

                    </div>
                </div>

            </div>
    
        </div>
    </div>
</div>

