<div id="profile-publications" class="row"> 
    <div *ngFor="let publication of publications" class="item-profile-publication col-md-4 col-6 d-md-flex mt-4 mb-3">
       
        <div class="publication-profile-image-card">
            <img src="{{ url + 'get-image-pub/' + publication.file}}" class="card-img-top" (click)="openModal(publication._id, publication.file, publication.user.image, publication.user.nick, publication.text, publication.user._id)"/>
        </div>
        
    <!--fin bucle for-->
    </div>

    
</div>

<div class="row align-items-center justify-content-center">
    <div class="col-md-2" *ngIf="!noMore">
        <!--<button class="btn btn-success" (click)="viewMore()" *ngIf="!noMore">
            Ver mas
        </button> -->
    </div>
</div>


<!-- MODAL PERSONALIZADO -->

<div id="modalPersonalizado" class="modalContainer">
    <div class="modal-content">
        <div *ngFor="let item of modalData">

            <div class="row" id="mainModalRow">
                <!--imagen principal de la publicacion-->
                <div class="col-md-9">
                    <div class="modal-img">
                        <img class="img-fluid" src="{{ url + 'get-image-pub/' + item.file}}" />
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="row justify-content-end pr-2 pb-3">
                        <span class="close" (click)="closeModal()">×</span>
                    </div>
                    
                    <div class="row" id="modalUserInfoRow">
                        <div class="image-user col-md-1">
                            <a href="#">
                                <img class="rounded-circle" src="{{ url + 'get-image-user/' + item.userImage}}" />
                            </a>
                        </div>
                        <div class="publication-user-name col-md-5">
                            <b><a [routerLink]="['/perfil',item.userId]"  class="card-link">{{item.nick}}</a></b>
                        </div>
                        <div class="col-md-1" *ngIf="item.userId == identity._id">
                           <!-- <button type="button" id="deleteButton" class="btn btn-danger" 
                            data-toggle="modal" data-target="#deleteModal"> -->
                            <div id="deleteButton" *ngIf="item.userId == identity._id">
                                <img src="../../../assets/iconos/borrar.png" (click)="openDeleteModal()" >
                            </div>   
                        </div>
                    </div>
                    <div class="row pt-3" id="modalCommentRow">
                        <p>
                            <b><a [routerLink]="['/perfil',item.userId]"  class="card-link">{{item.nick}}:</a></b>
                            &nbsp;
                            <span>{{item.text}}</span>
                        </p>
                        <p>Seccion comentarios</p>



                        <!-- Modal confirmacion borrado -->
                        <div id="deleteModalConfirmation" class="modalDeleteContainer">
                            <div class="modal-content">
                                <div class="row justify-content-end pr-2 pb-3">
                                    <span class="close" (click)="closeDeleteModal()">×</span>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-md-8">
                                        <h2>Confirmación de borrado</h2>
                                        <p>Estás a punto de borrar una de tus publicaciones, si la borras no podrás recuperarla.</p> 
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-md-4">
                                        <button type="button" class="btn btn-secondary md-block" data-dismiss="modal">Cancelar</button>
                                    </div>
                                    <div class="col-md-4">
                                        <button type="button" class="btn btn-primary md-block" data-dismiss="modal" (click)="deletePublication(item.imgId)">Aceptar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Fin modal confirmacion borrado --> 
                    </div>
                    <div class="row" id="modalToolsRow">
                        <img class="like" *ngIf="likesArray.indexOf(item.imgId) >= 0" (click)="unlikePublication(item.imgId)" src="../../../assets/iconos/like.svg">
                        <img class="unlike" *ngIf="likesArray.indexOf(item.imgId) < 0" (click)="giveLike(item.imgId)" src="../../../assets/iconos/unlike.svg">
                    </div>

                </div>


                 

            </div>
          
        </div> 
    </div>
</div>




<!-- MODAL DE BOOTSTRAP-->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body">

                <div *ngFor="let item of modalData">

                    <div class="row">
                        <!--imagen principal de la publicacion-->
                        <div class="col-md-9">
                            <div class="modal-img">
                                <img class="img-fluid" src="{{ url + 'get-image-pub/' + item.file}}" />
                            </div>
                        </div>
                        <!--informacion lateral de la publicacion-->
                        <div class="col-md-3">
                            <div id="image-nick-row" class="row justify-content-start">
                                <div class="image-user col-md-1">
                                    <a href="#">
                                        <img class="rounded-circle" src="{{ url + 'get-image-user/' + item.userImage}}" />
                                    </a>
                                </div>
                                <div class="publication-user-name col-md-3">
                                    <b><a [routerLink]="['/perfil',item.userId]"  class="card-link">{{item.nick}}</a></b>
                                </div>
                                 <!--boton borrar publicacion-->  
                                <div class="col-md-1" *ngIf="item.userId == identity._id">
                                    <button type="button" id="deleteButton" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                        </svg>
                                    </button>
                                </div>
                                <!-- Modal confirmacion borrado -->
                                  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="exampleModalLabel">¿Estás seguro que quieres borrar la publicación?</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                            Si la borras no podrás recuperarla.
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deletePublication(item.imgId)">Aceptar</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                <!-- Fin modal confirmacion borrado --> 
                            </div>

                            <div id="text-comments-row" class="row">
                                <div clas="col">
                                    <p><span><b>{{item.nick}}</b></span>&nbsp;{{item.text}} </p>
                                </div>
                            </div>
                           
                        </div>
                       
                       
                    </div>
                </div>

            </div>
    
        </div>
    </div>
</div>

