<div class="row align-items-center justify-content-center">

    <div class="col-md-3 col-10 mr-2">
        <div class="user-image" *ngIf="user">
            <img class="profile-image rounded-circle" src="{{ url + 'get-image-user/' + user.image}}"
                *ngIf="user.image"/>
            <img class=" profile-image rounded-circle" src="assets/user-default.png"
                *ngIf="!user.image"/> 
        </div>
    </div>

    
    <div id="profile-user-info" class="col-md-6 col-11 ml-4">
        <div class="row">
            <div class="follow-you" *ngIf="followed">Te sigue</div>
        </div>
        
        <div class="row align-items-center">
            <div class="nick">
                <b>{{user.nick}}</b>
            </div>

            <div class="edit-profile-button-box" *ngIf="user._id == identity._id">
                <button [routerLink]="['/mis-datos']" id="edit-profile-button">Editar perfil</button>
            </div>

            <div class="follow">
                <div> <button class="btn btn-success" *ngIf="!following && !identity._id" (click)="followUser(user._id)">Seguir</button> </div>
                <div> 
                    <button class="btn btn-default" *ngIf="following" 
                        (click)="unfollowUser(user._id)" 
                        (mouseenter)="mouseEnter(user._id)" 
                        (mouseleave)="mouseLeave()"
                        [class.btn-danger]="user._id == followUserOver">
                        
                        <span *ngIf="user._id == followUserOver; else following">
                            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-person-dash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10zM11 7.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5z"/>
                            </svg>
                        </span>
                        <ng-template #following>
                            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-person-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10zm4.854-7.85a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                            </svg>
                        </ng-template>
                    </button> 
                </div>
            </div>

            <div class="more-info" (click)="openModal()">
                <svg width="1.6em" height="1.6em" viewBox="0 0 16 16" class="bi bi-three-dots" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                </svg>
            </div>
        </div>

        <div class="row">
            <div class="follows-user-profile">
                <div class="stats" *ngIf="stats">
                   
                        <a [routerLink]="['/perfil',user._id]">
                            <span class="number-stats">{{stats.publications}}</span>&nbsp;
                            <span class="label-stats">Publicaciones</span>
                        </a>
                    
                        <a [routerLink]="['/seguidores',user._id,1]">
                            <span class="number-stats">{{stats.followed}}</span>&nbsp;
                            <span class="label-stats">Seguidores</span>
                        </a>
                   
                        <a [routerLink]="['/siguiendo',user._id,1]">
                            <span class="number-stats">{{stats.following}}</span>&nbsp;
                            <span class="label-stats">Seguidos</span>
                        </a>
                    
                </div>
            </div>
        </div>
           
        <div class="row">
            <div class="biography">
                <b>Biografía</b>
                <p>{{user.biography}}</p>
            </div>
        </div>

    </div>
</div>


<div class="row align-items-center justify-content-center">
    <div class="col-md-10" *ngIf="user">
        <app-publications [user]="user._id"></app-publications>
    </div>
</div>
<div id="white-space" *ngIf="user"></div>




<div id="modalPersonalizadoMoreInfo" class="modalContainer">
    <div class="modal-content-more-info">

        <!--Titulo-->
        <div class="row">
                <div class="col-md-2 icon-back-info" (click)="closeModal()">
                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-arrow-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                    </svg>
                </div>

                <div class="col-md-8 title-more-info">
                    <label>Detalles del usuario</label>
                </div>
        </div>

        <!--Seccion con todos los detales del usuario-->
        <div class="row">

           <div class="col-md-7 user-info-details">
                <div *ngIf="user.city != ''">
                    <img class="info-user-icon" src="../../../assets/iconos/ciudad.svg">
                    Vive en {{user.city}}
                </div>
                 
                <div *ngIf="user.birth != ''">
                    <img class="info-user-icon" src="../../../assets/iconos/pastel.svg">
                    {{user.birth}}
                </div>
                  
               <div *ngIf="user.study != ''">
                <img class="info-user-icon" src="../../../assets/iconos/birrete.svg">
                Estudió en {{user.study}}
               </div>
                    
              <div *ngIf="user.relationship != ''">
                <img class="info-user-icon" src="../../../assets/iconos/corazon.svg">
                {{user.relationship}}
              </div>
                
              <div *ngIf="user.gender != ''">
                <img class="info-user-icon" src="../../../assets/iconos/genero.svg">
                {{user.gender}}
              </div>
            </div>
        </div>

    </div>
</div>