<div class="row justify-content-center pt-3">
    <h1 class="h1-strong">{{title}}</h1>
</div>

<div class="row justify-content-center mt-3">
    <div class="col-md-8">
        <app-search (search)="handleSearch($event)"></app-search>
        <div class="people">

            <!--LISTADO-->
            <div *ngFor="let user of users | search:filtro_valor" class="item-user">
                <div id="item-user-row" class="row">

                    <div class="col-md-9">
                        <div class="image-user">
                            <a href="#">
                                <img src="{{ url + 'get-image-user/' + user.image}}" *ngIf="user.image"/>
                                <img src="assets/user-default.png" class="avatar-default" *ngIf="!user.image"/>
                            </a>
                        </div>

                        <div class="user-name">
                            <p class="name-surname">
                                <a [routerLink]="['/perfil',user._id]">
                                    {{user.name+ " " + user.surname}}
                                </a>
                            </p>
                            <p class="nickname">{{user.nick}}</p>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <!--SEGUIR/ DEJAR DE SEGUIR-->
                        <div class="follow-buttons" *ngIf="user._id != identity._id">
                            <button class="btn btn-success" *ngIf="follows.indexOf(user._id) < 0" (click)="followUser(user._id)">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M8 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10zM13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                                </svg>
                                Seguir
                            </button>

                            <button class="btn btn-default"
                            *ngIf="follows.indexOf(user._id) >= 0"
                            (mouseenter)="mouseEnter(user._id)"
                            (mouseleave)="mouseLeave(user._id)"
                            (click)="unfollowUser(user._id)"
                            [class.btn-danger]="user._id == followUserOver"
                            >

                                <span *ngIf="user._id == followUserOver; else following">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-dash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M8 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10zM11 7.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5z"/>
                                    </svg>
                                    Dejar de seguir
                                </span>

                                <ng-template #following>
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M8 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10zm4.854-7.85a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                                    </svg>
                                    Siguiendo
                                </ng-template>

                            </button>
                        </div>
                    </div>
                <!--fin de row-->
                </div>
            <!--fin de bucle for-->
            </div>
            <!--PAGINACION-->
        
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item" *ngIf="page > 1"><a class="page-link" [routerLink]="['/gente', prevPage]">Anterior</a></li>
                    <li class="page-item" *ngIf="pages != page"><a class="page-link" [routerLink]="['/gente', nextPage]">Siguiente</a></li>
                </ul>
            </nav>
        </div>
    </div>

</div>