<div class="position-fixed" id="user-card">

    <div class="row">
        <div class="avatar col-md-3">
            <img class="rounded-circle" src="{{ url + 'get-image-user/' + identity.image}}"
            *ngIf="identity.name"/>
            <img class="rounded-circle" src="assets/user-default.png"
            *ngIf="!identity.name"/>
        </div>

        <div class="name-surname col-md-6">
            <a [routerLink]="['/perfil',identity._id]">
                {{identity.nick}}
            </a>
            <p class="nickname">{{identity.name + ' ' + identity.surname}}</p>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>


    <div class="stats" *ngIf="stats">
        <div class="following-data">
            <a [routerLink]="['/perfil',identity._id]">
                <span class="label-stats">Publicaciones</span>
                <span class="number-stats">{{stats.publications}}</span>
            </a>
        </div>

        <div class="following-data">
            <a [routerLink]="['/seguidores',identity._id,1]">
                <span class="label-stats">Seguidores</span>
                <span class="number-stats">{{stats.followed}}</span>
            </a>
        </div>

        <div class="following-data">
            <a [routerLink]="['/siguiendo',identity._id,1]">
                <span class="label-stats">Seguidos</span>
                <span class="number-stats">{{stats.following}}</span>
            </a>
        </div>

    </div>
</div>

<!--formulario de publicaciones-->

<!-- <div id="new-publication-container"> 
    <div class="row">
        <div id="alertaExito" class="alert alert-success" *ngIf="status == 'success'">
            Publicacion enviada correctamente
        </div>

        <div id="alertaError" class="alert alert-danger" *ngIf="status == 'error'">
            Publicacion NO enviada correctamente
        </div>
    </div>
    
   
    <div id="new-publication" clas="row justify-content-center">
        
        <form #newPubForm="ngForm" (ngSubmit)="onSubmit(newPubForm, $event)" class="col-md-12">

            <div class="row justify-content-center">
                <textarea name="text" #text="ngModel" [(ngModel)]="publication.text"
                class="form-control" placeholder="¿Qué estás pensando hoy?"></textarea>
            </div>
                
            <div class="row mt-2">
                <div class="image-upload">
                    <label id="image-input" for="file-input">
                        <img src="../../../assets/imagenes/galeria.png" />
                    </label>
                    <label id="text-input" for="file-input">Subir foto</label>
                    <input id="file-input" type="file" placeholder="subir imagen" (change)="fileChangeEvent($event)" />
                </div>
            </div>
            
            <div class="row mt-3">
                <input type="submit" value="Publicar" class="btn btn-primary btn-block">
            </div>
            
        </form>
    </div>-->

<!-- </div> -->