<h1 class="h1-strong">Mis datos</h1>


<div  id="user-card">

    <div class="row">
        <div class="avatar col-md-4">
            <img class="rounded-circle" src="{{ url + 'get-image-user/' + identity.image}}"
            *ngIf="identity.name"/>
            <img class="rounded-circle" src="assets/user-default.png"
            *ngIf="!identity.name"/>
        </div>

        <div class="name-surname col-md-6">
            <a href="#">
                {{identity.nick}}
            </a>
            <p class="nickname">{{identity.name + ' ' + identity.surname}}</p>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>


    <div class="stats" *ngIf="stats">
        <div class="following-data">
            <a href="#">
                <span class="label-stats">Publicaciones</span>
                <span class="number-stats">{{stats.publications}}</span>
            </a>
        </div>

        <div class="following-data">
            <a href="#">
                <span class="label-stats">Seguidores</span>
                <span class="number-stats">{{stats.followed}}</span>
            </a>
        </div>

        <div class="following-data">
            <a href="#">
                <span class="label-stats">Seguidos</span>
                <span class="number-stats">{{stats.following}}</span>
            </a>
        </div>

    </div>
</div>

<!--formulario de publicaciones-->

<div id="new-publication">

    <div id="alertaExito" class="alert alert-success" *ngIf="status == 'success'">
        Publicacion enviada correctamente
    </div>

    <div id="alertaError" class="alert alert-danger" *ngIf="status == 'error'">
        Publicacion NO enviada correctamente
    </div>
    <form #newPubForm="ngForm" (ngSubmit)="onSubmit(newPubForm);sendPublication($event);" class="col-md-10">

        <p>
            <label>¿Qué estás pensando hoy?</label>
            <textarea name="text" #text="ngModel" [(ngModel)]="publication.text"
            class="form-control"></textarea>
        </p>

        <p>
            <label>Sube tu foto</label>
            <input type="file" placeholder="subir imagen" (change)="fileChangeEvent($event)" />
        </p>

        <input type="submit" value="Publicar" class="btn btn-success">
    </form>

</div>