<div class="row justify-content-center">

    <div class="col-md-7">

        <div id="publications">

            <div class="row pb-3">
                <div class="col-md-12">
                    <app-upload-publication></app-upload-publication>
                </div>
            </div> 
            
            <div *ngFor="let publication of publications" class="item-publication">
               
              <!--  <div class="card col-md-10"> -->

                    <div class="publication-header-card row">
                        
                        <div class="image-user col-md-1">
                            <a href="#">
                                <img class="rounded-circle" src="{{ url + 'get-image-user/' + publication.user.image}}" *ngIf="publication.user.image"/>
                                <img class="rounded-circle" src="assets/user-default.png" class="avatar-default" *ngIf="!publication.user.image"/>
                            </a>
                        </div>

                        <div class="publication-user-name col-md-3">
                            <a [routerLink]="['/perfil',publication.user._id]" class="card-link">{{publication.user.nick}}</a>
                        </div>

                    </div>



                    <div class="publication-image-card">
                        <img src="{{ url + 'get-image-pub/' + publication.file}}" class="card-img-top" />
                    </div>
                    
                    <div class="card-body">
                        <div class="col-md-12">
                            <a [routerLink]="['/perfil',publication.user._id]" class="link-publication-nick card-link">{{publication.user.nick}}</a><span>{{publication.text}}</span>
                        </div>
                    </div>

                 <!-- </div> -->
                  
                    <div class="date">
                        {{ (publication.created_at | amFromUnix) | amLocale:'es' | amTimeAgo}}
                    </div>

            <!--fin bucle for-->
            </div>
            <!--fin div publications-->
        </div>

        <div class="row justify-content-center">
            <div class="col-md-5" *ngIf="publications && publications.length">
                <p>
                    <button class="btn btn-success" (click)="viewMore()" *ngIf="!noMore">
                        Ver mas publicaciones
                    </button>
                </p>
            </div>
        </div>
       
    </div>

    <div class="col-md-4">
        <app-sidebar (sended)="refresh($event)"></app-sidebar>
        <div class="clearfix"></div>
    </div>

</div>