<div class="row justify-content-center">
    <h1 class="h1-strong">{{title}}</h1>
</div>


    <div class="alert alert-success" role="alert" *ngIf="status == 'success'">
        ¡Tus datos se han modificado correctamente!
    </div>

    <div class="alert alert-danger" role="alert" *ngIf="status == 'error'">
            Se ha producido un error, intentalo de nuevo.
    </div>

        <form #userEditForm="ngForm" (ngSubmit)="onSubmit()" class="row justify-content-center">
            <!-- COLUMNA 1 -->
           <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <label>Nombre</label>
                        <mat-form-field class="example-full-width">
                            <input matInput name="name" [(ngModel)]="user.name" value="{{user.name}}">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <label>Apellidos</label>
                        <mat-form-field class="example-full-width">
                            <input matInput name="surname" [(ngModel)]="user.surname" value="{{user.surname}}">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                    
                            <label>Nick</label>
                            <mat-form-field class="example-full-width">
                                <input matInput name="nick" [(ngModel)]="user.nick" value="{{user.nick}}">
                            </mat-form-field>
                    </div>
                    <div class="col-md-6">
                       
                            <label>Correo electrónico</label>
                            <mat-form-field class="example-full-width">
                                <input matInput name="email" [(ngModel)]="user.email" value="{{user.email}}">
                            </mat-form-field>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-5">
                        <label>Imagen de perfil</label>
                    </div>
                </div>
                <div class="row pt-1">
                    <div class="col-md-4 col-sm-5">
                        <div id="edit-user-image-container" class="container-fluid">
                            <div>
                                <label id="image-input-edit" for="edit-user-file-input">
                                    <img src="../../../assets/imagenes/imagenes-de-usuario.png">
                                </label>
                                <input id="edit-user-file-input" type="file" class="form-control-file" (change)="fileChangeEvent($event)" />
                            </div>
                            <div id="imagenUsuarioSubida"></div> 
                        </div>
                    </div>
                </div>
          
        </div>
        
        <!-- COLUMNA 2 -->
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <label>Trabaja en</label>
                    <mat-form-field class="example-full-width">
                        <input matInput name="work" [(ngModel)]="user.work" value="{{user.work}}">
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <label>Estudió en</label>
                    <mat-form-field class="example-full-width">
                        <input matInput name="study" [(ngModel)]="user.study" value="{{user.study}}">
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label>Ciudad</label>
                    <mat-form-field class="example-full-width">
                        <input matInput name="city" [(ngModel)]="user.city" value="{{user.city}}">
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <label>Fecha de nacimiento</label>
                    <!--<input type="date" name="birth" #birth="ngModel" [(ngModel)]="user.birth" class="form-control" /><br>-->
                    <mat-form-field appearance="fill">
                        <mat-label></mat-label>
                        <input matInput [matDatepicker]="picker3" name="birth" [(ngModel)]="user.birth" [value]="user.birth">
                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                        <mat-datepicker #picker3></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label>Género</label>
                    <mat-form-field appearance="fill">
                        <mat-select [(value)]="user.gender">
                            <mat-option value="">No mostrar</mat-option>
                            <mat-option value="{{c}}" *ngFor="let c of genders">{{c}}</mat-option>
                        </mat-select>
                    </mat-form-field> 
                </div>
                <div class="col-md-6">
                    <label>Situación sentimental</label>
                    <mat-form-field appearance="fill">
                        <mat-select [(value)]="user.relationship">
                            <mat-option value="">No mostrar</mat-option>
                            <mat-option value="{{marital}}" *ngFor="let marital of maritals">{{marital}}</mat-option>
                        </mat-select>
                    </mat-form-field> 
                    
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label>Biografía</label>
                    <mat-form-field class="example-full-width">
                        <textarea matInput name="biography" [(ngModel)]="user.biography" value="{{user.biography}}"></textarea>
                    </mat-form-field>
                </div>
            </div>
        </div>


        <div class="row pt-3 pb-3">
            <div class="col-md-12">
                <input type="submit" value="Actualizar" class="btn btn-warning btn-block" />
            </div>
        </div>
    </form>
    

