/*GENERALES*/
.h1-strong{
    font-size: 35px;
    font-weight: bold;
    margin-left: 13px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.active{
    background: #cc1717;
    height: 100%;
}

/*CABECERA*/
 
.navbar{
    background-color: #e53c37 !important;
}

.navbar *{
    color: white !important;
}

.navbar a:hover{
    background: #cc1717 !important;
}

.dropdown{
  margin-top: 5px;
}

.dropdown a{
    cursor: pointer;
    text-decoration:none !important;
  
}

.dropdown-menu *{
    color:black !important;
   
}

.navbar .dropdown-menu a:hover{
    background: #eee !important;
}

.navbar .avatar{
    width: 50px;
    height: 40px;
    border-radius: 100px;
    overflow: hidden;
    margin-right: 8px;
}

.navbar .avatar img{
    height: 40px;
    width: 50px;
}


.jumbotron{
    text-align: center;
}

/*PAGINA DATOS USUARIO*/
