@font-face{
    font-family: "Roboto";
    src: url(assets/fuentes/Roboto-Thin.ttf);
}

@font-face{
    font-family: "Roboto-light";
    src: url(assets/fuentes/Roboto-Light.ttf);
}

@font-face{
    font-family: "Youtube";
    src: url(assets/fuentes/youtube-sans-medium.ttf);
}

@font-face{
    font-family: "Youtube-light";
    src: url(assets/fuentes/youtube-sans-light.ttf);
}

*{
   font-family: "Youtube-light";
}

/*GENERALES*/
body{
    background: #f5f6f8;
}

#divPrincipal{
    background-color: #f0f2f5;
}


.h1-strong{
    font-size: 35px;
    font-weight: bold;
    /*margin-left: 13px;*/
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.active{
    background: #cc1717;
    height: 100%;
}

.loading-image{
    margin-top: 100px;
    margin-bottom: 100%;
}

/*CABECERA*/
 
.navbar{
    background-color: #1877f2 !important;
}

.navbar *{
    color: white !important;
    text-decoration: none !important;
}

.navbar a:hover{
  /*  background: #0d65d9 !important;*/
}

.dropdown a{
    cursor: pointer;
    text-decoration:none !important;
  
}

.dropdown-menu *{
    color:black !important;
   
}

.navbar .dropdown-menu a:hover{
    background: #eee !important;
}

/*.navbar .avatar{
    width: 50px;
    height: 40px;
    border-radius: 100px;
    overflow: hidden;
    margin-right: 8px;
}*/

.navbar .avatar img{
    height: 30px;
    width: 30px;
}

.navbar .avatar{
    margin-left: 5px;
    margin-right: 5px;
}

.navbar .label-profile{
    padding-right: 10px;
    border-right: 1px solid blue;
}
.navbar .label-home{
    padding-left: 10px;
    margin-right: 50px;
}

.navbar .dropdown img{
    height: 25px;
    width: 25px;
}

/*LOGIN*/
.formulario-login{
    background: #fff;
    margin-top: 25%;
    margin-right: 80px;
    padding: 20px;
    /*border: 1px solid grey;*/
    border-radius: 10px;
    box-shadow: 1px 1px 10px 5px rgba(230, 230, 230, 0.5);
}
.textoPaginaLogin{
    margin-top: 25%;
    margin-left: 20%;
    margin-right: 30px;
    width: 500px;
}
.textoPaginaLogin p{
    font-size: 30px;
}

.textoPaginaLogin p img{
    height: 60px;
}

.spacer{
    margin-top: 25px;
}

.loginPage{
    background: #f0f2f5;
    width: 100%;
}

.botonCuentaNueva{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    margin-top: 25px;
}


/*PAGINA DATOS USUARIO*/


/*GENTE*/

.item-user{
    border: 1px solid rgba(230, 230, 230, 0.8);
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#item-user-row{
    display:flex;
    align-items: center;
    justify-content: center;
}

.item-user .image-user,
.item-user .user-name{
    display: inline-block;
}

.item-user .image-user{
    width: 70px;
    height: 70px;
    border-radius: 100px;
    overflow: hidden;
    margin-right: 15px;
    margin-left: 5px;
    margin-top: 15px;
}

.item-user .image-user img{
    width: 120px;
}

.item-user .user-name{
    margin-top: 10px;
}

.item-user .user-name .nickname{
    color:#969393;
}

.item-user .user-name .name-surname a{
    color: #444;
    font-weight: bold;
}

.mat-form-field{
    width: 100%;
}



/*SIDEBAR*/

#user-card{
    margin-top: 70px;
}

#user-card .avatar{
    margin-right: 15px;
}

#user-card .avatar img{
    width: 90px;
    height: 75px;
}

#user-card .name-surname a{
    font-weight: bold;
    color: #000;
}

#user-card .name-surname .nickname{
    color: #969393;
}

#user-card .label-stats,
#user-card .number-stats{
    display: block;
    text-align: center;
}

#user-card .label-stats{
    font-weight: 500;
    color: #555;
}

#user-card .number-stats{
    font-weight: 700;
    color: #333;
}

#user-card .following-data{
    display: inline-block;
    margin-left: 28px;
    margin-top: 15px;
}

#user-card .following-data:first-child{
    padding-left: 15px;
}

.following-data a{
    text-decoration: none !important;
}

#new-publication{
    background-color: white;
    border: 1px solid rgba(230, 230, 230, 0.8);
    padding: 10px;
}

.image-upload{
    background-color:rgba(230, 230, 230, 0.8);
    border-radius: 20px;
    padding-top:7px;
    padding-left: 5px;
    padding-right: 5px;
}

.image-upload > input {
    display: none;
}
.image-upload #text-input{
    margin-left: 3px;
    cursor: pointer;
}
.image-upload img{
    height: 30px;
    width: 30px;
    cursor: pointer;
}

/*.image-upload label{
    padding-left: 5px;
    margin-bottom: 10px;
}*/


/*TIMELINE*/

#publications{
    margin-top: 70px;
    min-height: 500px;
    min-width: 600px;
}

#publications .date{
    color: grey;
    font-size: small;
}

.item-publication{
    background-color: white;
    margin-bottom: 60px;
    width: 100%;
}

.item-publication .publication-header-card{
    padding: 15px;
    padding-left: 5px !important;
}

.item-publication .publication-image-card{
    width: 100%;
}


.item-publication .image-user img{
    width: 40px;
    height: 35px;
}

.item-publication .publication-user-name a, .item-publication .card-body a{
    font-weight: 600;
    color: #000;
}

.item-publication .link-publication-nick{
    padding-right: 10px;
}

.item-publication .card-body{
    padding-left: 0px !important;
}

.item-publication .card{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.floatingButton{
    background-color: white;
    border: 1px solid rgba(230, 230, 230, 0.8);
    border-radius: 30px;
    margin-top: 15px;
    display:scroll;
    position:fixed;
    z-index: 1;
}

/*PERFIL USUARIO*/

.user-image{
    margin-left: 2%;
    margin-top: 7%;
}

.user-image .profile-image{
      /* tamaño del circulo */
      height: 200px;
      width: 200px;
      /* los siguientes valores son independientes del tamaño del círculo */
      background-repeat: no-repeat;
      background-position: 50%;
      border-radius: 50%;
      border: 5px solid #e65c00;
      background-size: 100% auto;
      padding: 3px;
}

#edit-profile-button{
    margin-left: 20px;
    margin-right: 10px;
    background-color: #f0f2f5;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-weight: 600;
}


#profile-user-info .row{
    padding-bottom: 20px;
}

#profile-user-info .row:first-child{
    margin-top: 30px;
    margin-bottom: 5px;
    padding-bottom: 0px !important;
}

#profile-user-info .follow-you{
    background-color: #969393;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    padding: 2px;
}

.follows-user-profile .stats a{
    padding-right: 55px;
    color: black;
}

.follows-user-profile .stats .number-stats{
    font-weight: bold;
}

.follow{
    margin-left: 20px;
}

/*PUBLICACIONES PERFIL USUARIO*/
.item-profile-publication{
    width: 100%;
    align-items: center;
}

.item-profile-publication .publication-profile-image-card{
    width: 100%;
    height: 100%;
}


.profile-image-user .prof-img{
 /* tamaño del circulo */
 height: 50px;
 width: 50px;
 /* los siguientes valores son independientes del tamaño del círculo */
 background-repeat: no-repeat;
 background-position: 50%;
 border-radius: 50%;
 border: 5px solid #e65c00;
 background-size: 100% auto;
 padding: 3px;
}

.publication-profile-image-card img{
    width: 100%;
}

.publication-profile-image-card img:hover{
    cursor: pointer;
}

#profile-publications{
    margin-top: 10%;
    /*padding-bottom: 10%;*/
}
/*MODAL PERFIL*/

#exampleModal .modal-content .modal-body .row p{
    word-break: break-all !important;
} 

.modal-body .image-user img{
    width: 40px;
    height: 35px;
}

.modal-body .publication-user-name{
    margin-left: 15px;
}

.modal-body .publication-user-name a{
    color: black;
}

#image-nick-row{
    padding-top: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

#text-comments-row{
padding-top: 10px;
}
/*PAGINA SEGUIDOS*/

#followed-container{
    margin-top: 15px;
}

#followed-container .follow-buttons{
    /*margin-right: 10px;*/
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
