@font-face{
    font-family: "Roboto";
    src: url(assets/fuentes/Roboto-Thin.ttf);
}

@font-face{
    font-family: "Roboto-light";
    src: url(assets/fuentes/Roboto-Light.ttf);
}

@font-face{
    font-family: "Youtube";
    src: url(assets/fuentes/youtube-sans-medium.ttf);
}

@font-face{
    font-family: "Youtube-light";
    src: url(assets/fuentes/youtube-sans-light.ttf);
}

*{
   font-family: "Youtube-light";
}

/*GENERALES*/

html, body { height: 100%; }

body{
    margin: 0;
    background-color: #f0f2f5 !important;
    background-size: 100%;
    padding-top: 8%;
}

#divPrincipal{
    background-color: #f0f2f5;
    background-size: 100%;
}


.h1-strong{
    font-size: 35px;
    font-weight: bold;
    /*margin-left: 13px;*/
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.active{
    background: #cc1717;
    height: 100%;
}

.loading-image{
    margin-top: 100px;
    margin-bottom: 100%;
}

/*CABECERA*/
 
.navbar{
    background-color: #1877f2 !important;
    width: 100%;
}

.navbar *{
    color: white !important;
    text-decoration: none !important;
}

.dropdown a{
    cursor: pointer;
    text-decoration:none !important;
  
}

.dropdown-menu *{
    color:black !important;
   
}

.navbar .dropdown-menu a:hover{
    background: #eee !important;
}

/*.navbar .avatar{
    width: 50px;
    height: 40px;
    border-radius: 100px;
    overflow: hidden;
    margin-right: 8px;
}*/

.navbar .avatar img{
    height: 30px;
    width: 30px;
}

.navbar .avatar{
    margin-left: 5px;
    margin-right: 5px;
}

.navbar .label-profile{
    padding-right: 10px;
    border-right: 1px solid blue;
}
.navbar .label-home{
    padding-left: 10px;
    margin-right: 50px;
}

.navbar .dropdown img{
    height: 25px;
    width: 25px;
}

/*LOGIN*/
.formulario-login{
    background: #fff;
    margin-top: 15%;
    margin-right: 80px;
    padding: 20px;
    /*border: 1px solid grey;*/
    border-radius: 10px;
    box-shadow: 1px 1px 10px 5px rgba(230, 230, 230, 0.5);
}
.textoPaginaLogin{
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 30px;
    width: 500px;
}
.textoPaginaLogin p{
    font-size: 30px;
}

.textoPaginaLogin p img{
    height: 60px;
}

.spacer{
    margin-top: 25px;
}

.loginPage{
    background: #f0f2f5;
    width: 100%;
}

.botonCuentaNueva{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    margin-top: 25px;
}


/*REGISTRAR NUEVO USUARIO*/

.registerColumn{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.titleRowRegister{
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    line-height:20px;
}

.titleRowRegister h1 {
    font-weight: 700;
}

.formRowRegister{
    padding-top: 15px;
}

.botonRegistrarCuenta{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    margin-top: 25px;
}



/*GENTE*/
#people-column{
    /*background-color: white;*/
}

.item-user{
    border: 1px solid rgba(230, 230, 230, 0.9);
    border-radius: 20px;
    background-color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}

.item-user:hover{
    box-shadow: 1px 1px 20px 1px lightgrey;
}

#item-user-row{
    display:flex;
    align-items: center;
    justify-content: center;
}

.item-user .image-user,
.item-user .user-name{
    display: inline-block;
}

.item-user .image-user{
    width: 70px;
    height: 70px;
    border-radius: 100px;
    overflow: hidden;
    margin-right: 15px;
    margin-left: 5px;
    margin-top: 15px;
}

.item-user .image-user img{
    width: 120px;
}

.item-user .user-name{
    margin-top: 10px;
}

.item-user .user-name .nickname{
    color:#969393;
}

.item-user .user-name .name-surname a{
    color: #444;
    font-weight: bold;
}

.mat-form-field{
    width: 100%;
}



/*SIDEBAR*/

#user-card{
   /* margin-top: 7%;*/
}

#user-card .avatar{
    margin-right: 15px;
}

#user-card .avatar img{
    width: 90px;
    height: 75px;
}

#user-card .name-surname a{
    font-weight: bold;
    color: #000;
}

#user-card .name-surname .nickname{
    color: #969393;
}

#user-card .label-stats,
#user-card .number-stats{
    display: block;
    text-align: center;
}

#user-card .label-stats{
    font-weight: 500;
    color: #555;
}

#user-card .number-stats{
    font-weight: 700;
    color: #333;
}

#user-card .following-data{
    display: inline-block;
    margin-left: 28px;
    margin-top: 15px;
}

#user-card .following-data:first-child{
    padding-left: 15px;
}

.following-data a{
    text-decoration: none !important;
}

#new-publication{
    background-color: white;
    border: 1px solid rgba(230, 230, 230, 0.8);
    padding: 10px;
}

.image-upload{
    background-color:rgba(230, 230, 230, 0.8);
    border-radius: 20px;
    padding-top:7px;
    padding-left: 5px;
    padding-right: 5px;
}

.image-upload > input {
    display: none;
}
.image-upload #text-input{
    margin-left: 3px;
    cursor: pointer;
}
.image-upload img{
    height: 30px;
    width: 30px;
    cursor: pointer;
}

/*.image-upload label{
    padding-left: 5px;
    margin-bottom: 10px;
}*/


/*TIMELINE*/

#publications{
  /*margin-top: 70px;*/
    min-height: 500px;
    min-width: 600px;
}

#publications .date{
    color: grey;
    font-size: small;
}

.item-publication{
    background-color: white;
    margin-bottom: 60px;
    width: 100%;
}

.item-publication .publication-header-card{
    padding: 15px;
    padding-left: 5px !important;
}

.item-publication .publication-image-card{
    width: 100%;
}


.item-publication .image-user img{
    width: 40px;
    height: 35px;
}

.item-publication .publication-user-name a, .item-publication .card-body a{
    font-weight: 600;
    color: #000;
}

.item-publication .link-publication-nick{
    padding-right: 10px;
}

.item-publication .card-body{
    padding-left: 0px !important;
}

.item-publication .card{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.floatingButton{
    background-color: white;
    border: 1px solid rgba(230, 230, 230, 0.8);
    border-radius: 30px;
    margin-top: 15px;
    display:scroll;
    position:fixed;
    z-index: 1;
}

@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.2,1.2);
    }
    100% {
        transform: scale(1,1);
    }
}

.like, .unlike{
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-bottom: 15px;
    animation: zoominoutsinglefeatured 0.5s;
}

/*PERFIL USUARIO*/

.user-image{
    margin-left: 2%;
    margin-top: 7%;
}

.user-image .profile-image{
      /* tamaño del circulo */
      height: 200px;
      width: 200px;
      /* los siguientes valores son independientes del tamaño del círculo */
      background-repeat: no-repeat;
      background-position: 50%;
      border-radius: 50%;
      border: 5px solid #e65c00;
      background-size: 100% auto;
      padding: 3px;
}

#edit-profile-button{
    margin-left: 20px;
    margin-right: 10px;
    background-color: #f0f2f5;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-weight: 600;
}


#profile-user-info .row{
    padding-bottom: 20px;
}

#profile-user-info .row:first-child{
    margin-top: 30px;
    margin-bottom: 5px;
    padding-bottom: 0px !important;
}

#profile-user-info .follow-you{
    background-color: #969393;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    padding: 2px;
}

.follows-user-profile .stats a{
    padding-right: 55px;
    color: black;
}

.follows-user-profile .stats .number-stats{
    font-weight: bold;
}

.follow{
    margin-left: 20px;
}

/*PUBLICACIONES PERFIL USUARIO*/
.item-profile-publication{
    width: 100%;
    align-items: center;
}

.item-profile-publication .publication-profile-image-card{
    width: 100%;
    height: 100%;
}


.profile-image-user .prof-img{
 /* tamaño del circulo */
 height: 50px;
 width: 50px;
 /* los siguientes valores son independientes del tamaño del círculo */
 background-repeat: no-repeat;
 background-position: 50%;
 border-radius: 50%;
 border: 5px solid #e65c00;
 background-size: 100% auto;
 padding: 3px;
}

.publication-profile-image-card img{
    width: 100%;
}

.publication-profile-image-card img:hover{
    cursor: pointer;
}

#profile-publications{
    margin-top: 10%;
    /*padding-bottom: 10%;*/
}
/*MODAL PERFIL*/

#exampleModal .modal-content .modal-body .row p{
    word-break: break-all !important;
} 

/*.modal-body .image-user img{
    width: 40px;
    height: 35px;
}

.modal-body .publication-user-name{
    margin-left: 15px;
    margin-right: 25px;
}

.modal-body .publication-user-name a{
    color: black;
}

#image-nick-row{
    padding-top: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

#text-comments-row{
padding-top: 10px;
}*/


/*PAGINA SEGUIDOS*/

#followed-container{
    margin-top: 15px;
}

#followed-container .follow-buttons{
    /*margin-right: 10px;*/
}

/*CHAT*/
#chat-row{
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;
    padding:10px;
}

.message-box{
    height: 500px;
    width: 100%;
}

.message-box-container{
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
}

.message-box-container > input {
    border-radius: 15px;
}

#user-list-col{
    border: 1px solid lightgray;
    border-radius: 5px;
}

#direct{
    padding: 10px;
}

#direct span{
    font-weight: 600;
}

#user-list{
    border-top: 1px solid lightgray;
    margin-top: 15px;
    padding-top: 5px;
}

.item-list{
    border: 1px solid black;
    margin-top: 3px;
    margin-bottom: 7px;
    text-align: center;
    cursor: pointer;
}

/*MENSAJES*/

.message-menu ul{
    border-radius: 10px;
}

.form-column{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.image-user-messages img{
    width: 50px;
    height: 50px;
}

#messages-row{
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}

#messages-row .date{
    color: gray; 
}

#messages-row #message-text p{
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.user-info-messages a{
    color: black;
    font-weight: 600;
    
}

.user-info-messages a:hover{
    text-decoration: none;
    color: black;
}


/*VER MENSAJES*/
#back-arrow{
    width: 2.2em;
    height: 2em;
    border-radius: 60px;
}

#remove-message{
    padding-top: 2px;
    width: 2.2em;
    height: 2em;
    border-radius: 60px;
}

#remove-message span{
    margin-left: 8px;
}

#remove-message:hover{
    cursor: pointer;
    background-color:  #1877f2;
}

#back-arrow:hover{
    cursor:pointer;
    background-color: #1877f2;
}

.tools-row{
    border-bottom: 1px solid lightgrey;
    padding-bottom: 10px;
}

.view-message-container{
    padding-top: 20px;
}

.view-message-container .message-user-container .emitter-name{
    color: black;
    font-weight: bold;
    line-height: 1px;
}

.view-message-container .message-user-container .receiver-name{
    color: gray;
    font-size: small;
    line-height: 1px;
}

.view-message-container .message-text-container{
    height: 400px;
    overflow: auto;
    word-break: break-all;
    word-wrap: break-word;
    padding-top: 5px;
    padding-right: 5px;
}


/* MODAL PUBLICACIONES */

.modalContainer {
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modalContainer .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 10px;
    border: 1px solid lightgray;
  /*  border-top: 10px solid #58abb7;*/
    width: 60%;
    height: 65%;
}

.modalContainer .close {
    color: #aaaaaa;
    float: right;
    font-size: 58px;
    font-weight: bold;
    line-height: 5px;
}

.modalContainer .close:hover,
.modalContainer .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#modalPersonalizado .image-user img{
    width: 40px;
    height: 35px;
}

#modalPersonalizado .publication-user-name{
    margin-left: 15px;
}
#modalPersonalizado .publication-user-name a{
    color: black;
}

#deleteButton{
    width: 30px;
    height: 25px;
    border-radius: 60px;
    cursor: pointer;
    padding-left:7px;
    margin-left: 15px;
}

#deleteButton img{
    width: 20px;
    height: 20px;
}

#modalUserInfoRow{
    padding-bottom: 10px;
    padding-right: 5px;
}

#modalCommentRow{
    height: 65%;
}

#modalCommentRow a{
    color: black;
}


.modalDeleteContainer {
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
}

.modalDeleteContainer .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid black;
  /*  border-top: 10px solid #58abb7;*/
    width: 40%;
    height: 40%;
}

/* MEDIAS QUERY */

/*Login*/
@media screen and (max-width:600px){
   
    .textoPaginaLogin p{
        margin-top: 0%;
    }
    
   .textoPaginaLogin p:nth-child(2n){
       display:none;
   }

   .formulario-login{
       margin-top: 5%;
       margin-left: 15%;
   }
}


/*Timeline*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
   
    #user-card{
      display:none;
    }
 
    
}


